#heading {
	margin-top: -110px;
}
.section-heading {
	margin: 0 80px;
}
.section-heading, b {
	text-align: center;
	color: #60606E;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.section-heading {	
	font-weight: bold;
	font-size: 25px;
	max-height: 30px;
}
.section-heading img {
	max-height: 20px;
	max-width: 70px;
	margin: 10px -70px 0 0;
}
#style1 {
     font-size: 90%;
}
#form {
	margin: 50px 0;
}
.section-form {
	padding-top: 30px;
}
label {
   	margin-left: 20px; 	
}
fieldset {
	border-color: #7BEEC7;
	width: 50%;
	text-align: left;
}
b {
	font-size: 12px;
	max-height: 15px;
}
legend b {
	font-size: 125%;
	color: #fff;
}
.section-form input {
	height: 15px;
	width: 300px;
}
legend {
	text-align: center;
	background-color: #7BEEC7; 
}
.section-form div {
	margin-bottom: 10px;
	float: left;
}
.form-textarea {
	margin-left: 20px;
}
textarea {
	color: #CDCDCD;
	text-transform: uppercase;
	font-size: 10px;
	padding-left: 20px;
}
textarea:hover {
	border-color: black;
}
.form-button button {
	font-size: 12px;
	height: 30px;
	width: 200px;
	margin: 0 50px;
}
.form-button {
	margin-left: 20px;
}
.form-name {
	margin-top: 20px;
}
button[type="reset"] {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}